<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>|404_Not_found|</title>
    <link rel="stylesheet" href="/stylesheets/del.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Frijole&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Viga&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img
        id="icon"
        src="/images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="#fba100">o</font>pen</h1>
      <img src="/images/border.png" id="border" />
    </header>
    <div class="body">
      <h1 style="line-height: 15em;">404 Not found</h1>
    </div>
    <script>
      //This is avoid Flickering
    </script>
    <script type="text/javascript" src="/javascripts/look.js"></script>
    <footer></footer>
  </body>
</html>
