<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="stylesheets/post.css" /> 
    <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet" />
  </head>
  <body>
      <header>
        <img id="icon" src="images/icon.png" height="50px" width="50px" alt="icon" />
        <h1>Bl<font color="#fba100">o</font>pen</h1>
        <input class="nav-box" type="checkbox" id="res-btn" />
        <label class="res-btn" for="res-btn"><span></span></label>
        <img id="border2" src="images/border 4.png" />
        <nav>
          <div class="social">
            <a href="https://www.facebook.com/Blopen-101448211510349/?modal=admin_todo_tour">
              <img src="images/fb.png" height="55px" width="55px" alt="Fb" /></a>
            <a href="https://www.instagram.com/Blopen_Blogger/">
              <img src="images/insta.png" height="55px" width="55px" alt="Fb" /></a>
            <a href="#">
              <img src="images/tweet.png" height="55px" width="55px" alt="Fb" />
            </a>
          </div>
          <ul>
            <li>
              <a href="/"> Home</a>
            </li>
      
            <li>
              <a href="/trending"> Trending</a>
            </li>
            <li>
              <a href="/myBlogs"> Your Blogs</a>
            </li>
      
            <li class="cat">
              <a href="/category">
                Categories
                <img id="arrow-down" src="images/arrow-down.png" height="20px" width="20px" alt="icon"
                  style="transform: rotate(-90deg);" /></a>
            </li>
      
            <li>
              <a href="/profile"> Profile </a>
            </li>
          </ul>
        </nav>
        <a href="/account">
          <img id="guest" src="<%= typeof file != 'undefined'? file: 'images/guest.png' %>" height="60px" width="60px"
            alt="Account" />
            <span id="guest_des"><%= des %></span>
        </a>
        <img src="images/border.png" id="border" />
      </header>
      <div class="post">
    <h1 id="topic">Post Your<font color="#fba100"> Blog</font></h1>
    <br />
    <form action="/new" method="POST">
      <h3 id="warn" style="color: red; font-family:'Ubuntu';font-weight: lighter;"><%= warn %></h3>
      <h2 class="sub-topic">Heading :</h2>
      <br />
      <input autocomplete="off" placeholder="Home....."
        type="text"
        name="head"
      /><br />
      <h2 class="sub-topic">Body :</h2></br>
      <textarea name="para" placeholder="This is my home...." rows="15" cols="150"></textarea><br />
      <h2 class="sub-topic" id="category">Category :<br/>
      <label for="fashion"><input value="0" id="fashion" type="radio" name="category">Fashion</label>
      <label for="travel"><input value="1"  id="travel" type="radio" name="category">Travel</label>
      <label for="food"><input id="food" value="2" type="radio" name="category">Food</label>
      <label for="entertainment"><input id="entertainment" value="3" type="radio" name="category">Entertainment</label>
      <label for="commerce"><input id="commerce" value="4" type="radio" name="category">Commerce</label>
      <label for="technology"><input id="technology" value="5" type="radio" name="category">Science and Technology</label>
      <label for="others"><input id="others" value="6" type="radio" name="category">Others</label>
      </h2>
     <button id="po">POST</button>
    </form>
    </div>
    <script>

      //This is for not flickering
    </script>
  </body>
</html>
