<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/Profile_pic.css"
  </head>
  <body>
    <header>
      <img
        id="icon"
        src="images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="red">o</font>pen</h1>
      <img src="images/border.png" id="border" />
    </header>
  </body>
</html>
