@font-face {
  font-family: "Vkts";
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Chango";
  src: url(../fonts/Chango-Regular.ttf);
}
@font-face {
  font-family: "SE";
  src: url(../fonts/SpecialElite-Regular.ttf);
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(21, 32, 43);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#look {
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 10%;
}

#look:hover {
  animation: move 0.3s ease-in-out forwards 0s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1em);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  width: 100%;
  height: 5em;
  padding: 20px 0px 20px 0;
  color: white;
  margin: 0;
  background: rgba(65, 179, 163);
}
#icon {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

header h1 {
  font-family: "vkts";
  float: left;
  font-size: 50px;
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-left: 10px;
  text-shadow: black 1px 1px;
}

#border {
  margin-top: -1.3em;
  height: auto;
  width: 100%;
}
#guest_des {
  float: right;
  margin-right: -67px;
  margin-top: 25px;
  font-size: 20px;
  color: white;
  font-weight: 100;
  font-family: "Ubuntu";
  transition: all 0.56s ease-in-out;
  opacity: 0;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
#guest,
#guestx {
  float: right;
  margin-right: 70px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  transform: rotateY(360deg);
  border-radius: 50%;
  border: 2px solid white;
}
#guestx {
  opacity: 0;
}
#guest:hover {
  transform: rotateY(0deg);
  opacity: 0;
}

#guest:hover ~ #guest_des {
  opacity: 1;

  transform: rotateY(0deg);
}
nav {
  position: fixed;
  background: rgba(226, 125, 96, 0.9);
  height: 100%;
  width: 0em;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  font-family: "Viga", sans-serif;
  z-index: 8;
}

.social {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  top: 10%;
  left: 20%;
}
.social img {
  margin-left: 20px;
}

nav ul {
  position: relative;
  font-size: 27px;
  position: relative;
  left: 20%;
  top: 20%;
}
nav ul li a {
  color: white;
}

nav ul li {
  margin-bottom: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px #cda34f;
}

.nav-box {
  display: none;
}

.res-btn {
  display: block;
  top: 12em;
  left: 1em;
  position: fixed;
  z-index: 11;
}
.res-btn::after {
  content: "";
  background: white;
  border: solid 0.5px wheat;
  height: 10px;
  width: 55px;
  display: block;
  margin-top: 2.5px;
  transition: all 0.3s ease;
  border: solid 1px black;
}
.res-btn span::after {
  content: "";
  background: white;
  border: solid 0.5px wheat;
  height: 10px;
  width: 55px;
  display: block;
  margin-top: 2px;
  transition: all 0.3s ease;
  border: solid 1px black;
}

.res-btn::before {
  content: "";
  background: white;
  border: solid 0.5px wheat;
  height: 10px;
  width: 55px;
  display: block;
  margin-top: 1px;
  transition: all 0.3s ease;
  border: solid 1px black;
}

#border2 {
  transform: rotate(-90deg);
  position: fixed;
  left: -56em;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.nav-box:checked ~ .res-btn::before {
  transform: rotate(45deg);
  background: wheat;
  border: none;
}
.nav-box:checked ~ .res-btn::after {
  transform: translateY(-25px) rotate(-45deg);
  background: white;
  border: none;
}
.nav-box:checked ~ .res-btn span::after {
  opacity: 0;
}
.nav-box:checked ~ nav {
  width: 25em;
}
.nav-box:checked ~ #border2 {
  opacity: 1;
}
@media only screen and (max-width: 470px) {
  #border {
    position: relative;
    top: -11px;
  }
}

@media only screen and (max-width: 768px) {
  body #look {
    height: 40px;
    width: 40px;
  }
  header h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  #icon {
    height: 35px;
    width: 35px;
    margin-top: 2.5em;
  }
  #guest,
  #guestx {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 30px;
  }

  #guest:hover {
    transform: rotateY(0deg);
    opacity: 1;
  }
  #guest_des {
    display: none;
  }
  #border {
    margin-top: -1.2em;
  }
  #border2 {
    left: -58em;
  }
  .social {
    display: flex;
    flex-direction: column;
    left: 45%;
    top: 0;
  }
  .res-btn::after,
  .res-btn span::after,
  .res-btn::before {
    height: 6px;
    width: 45px;
  }
  .nav-box:checked ~ .res-btn::after {
    transform: translateY(-18px) rotate(-45deg);
  }

  .social img {
    height: 35px;
    width: 35px;
    margin-top: 30px;
  }

  nav ul {
    font-size: 25px;
    left: 10%;
    top: 5%;
  }

  .nav-box:checked ~ nav {
    width: 15em;
  }

  body .body {
    border-radius: 0% 8% 0% 8%;
    width: 100%;
    height: 40em;
  }

  #greet {
    font-size: 50px;
  }

  #mot {
    font-size: 27px;
  }

  #post {
    padding: 0.7em;
    margin-left: 2em;
    font-size: 25px;
    margin-bottom: 40px;
  }

  #topic {
    font-size: 40px;
    margin-left: 30px;
  }
  .blogs .view {
    width: 29em;
    box-shadow: inset 1px 1px 30px black;
  }
  .view h2 {
    font-size: 23px;
  }

  .blogs .view span {
    font-size: 12px;
  }
  #guestx {
    opacity: 1;
  }
  .blogs .view h3 {
    opacity: 1;
    font-size: 16px;
  }
  .blogs .view h6 {
    font-size: 10px;
    margin-top: -1em;
  }
  body .blogs #border3 {
    display: none;
  }
}
@media only screen and (max-width: 384px) {
  #post {
    position: relative;
    top: -1em;
  }
  .nav-box:checked ~ nav {
    width: 11em;
  }

  nav ul {
    left: 1%;
    font-size: 20px;
    top: 10%;
  }
  #border2 {
    left: -59em;
  }
}

@media only screen and (max-width: 1024px) {
  body .blogs #border3 {
    margin-top: -3em;
  }
}
@media only screen and (max-width: 700px) {
  .blogs .view {
    width: 11.5em;
    margin-bottom: 3em;
  }
}
.body {
  width: 60em;
  align-self: center;
  height: 41em;
  font-family: "vkts";
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(65, 179, 163);
  border: 2px white solid;
  margin-top: 10em;
  padding: 0;
  border-radius: 0% 15% 0% 15%;
}

.body h1 {
  font-size: 65px;
  margin-top: 1em;
  text-shadow: 1px 1px black;
  letter-spacing: 3px;
  font-weight: 50em;
}
.body p {
  font-size: 35px;
  text-shadow: 1px 1px black;
  letter-spacing: 2.5px;
}

.post {
  margin-top: 5em;
  margin-left: -2.5em;
}

.post a span {
  color: white;
  font-size: 30px;
  text-shadow: 0.8px 0.8px #e8a87c;
  border: 3px solid #e8a87c;
  padding: 1.3em;
  transition: 0.3s all ease-in-out;
  letter-spacing: 2px;
  margin-left: 1em;
  font-family: "Ubuntu";
  font-weight: bolder;
}

.post a span:hover {
  box-shadow: inset -130px -130px #e8a87c;
}

#border3 {
  margin-top: -6em;
  width: 100%;
  height: auto;
}

.blogs {
  display: flex;
  text-align: center;
  margin-top: 20em;
  background: rgba(108, 100, 139);
  flex-direction: column;
}
.blogs h1 {
  font-family: "vkts";
  color: white;
  font-size: 65px;
  margin-top: 2em;
  text-shadow: 1px 1px black;
  letter-spacing: 3px;
}
.view {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  width: 40em;
  margin-top: 3em;
  margin-bottom: 5em;
  align-self: center;
  overflow: hidden;
  white-space: wrap;
  line-height: 3em;
  color: white;
  text-shadow: 1px 1px black;
  font-family: "Viga", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}

.view h3 {
  text-align: left;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.view h6 {
  text-align: right;
}
.view a {
  color: white;
}

.view a span {
  font-size: 15px;
  border: 2px solid white;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-family: "Viga", sans-serif;
}

.view span:hover {
  box-shadow: inset 0px 65px wheat;
}
.view:hover {
  box-shadow: inset 1px 1px 30px black;
}
.view:hover #guestx,
.view:hover h3 {
  opacity: 1;
}
