@font-face {
  font-family: "Vkts";
  src: url(../fonts/vtks-distress.woff);
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: url(../images/silog_back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5em;
  padding: 20px 0px 20px 0;
  font-family: "vkts";
  box-shadow: inset 0px 5px 5px black;
  color: #f5deb3;
  margin: 0;
  background: rgb(55, 63, 39);
}
#icon {
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

header h1 {
  float: left;
  font-size: 50px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  margin-left: 10px;
  text-shadow: #cda3af 1px 1px;
  text-shadow: 2px 2px #cda34f;
}

#border {
  margin-top: -5px;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  #icon {
    height: 35px;
    width: 35px;
    margin-top: 27px;
  }
  #border {
    margin-top: 5px;
  }
  .body {
    flex-direction: column;
  }

  #log,
  #sign {
    margin-top: 10em;
  }

  #log,
  #sign {
    position: relative;
    top: 10em;
  }

  #h1 {
    white-space: nowrap;
    font-size: 40px;
  }
  .body form input {
    height: 3em;
    width: 20em;
    font-size: 15px;
  }

  .body form input::placeholder {
    font-size: 14px;
    font-family: "vkts";
  }
}

.body {
  width: 100%;
  height: 40em;
  font-family: "vkts";
  color: wheat;
  display: flex;
  justify-content: space-around;
  margin-top: 8em;
}

#log,
#sign {
  text-shadow: 2px 2px #cda34f;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30em;
  padding: 40px 5em;
  margin: 30px 0px;
  transition: all 0.5s ease-in-out;
  background: url("../images/body_back 2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#log {
  box-shadow: 30px 30px 80px 10px black;
}
#sign {
  box-shadow: -30px 30px 80px 10px black;
}
.body h1 {
  font-size: 50px;
}
.body input {
  height: 2em;
  width: 20em;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px black;
  background: rgba(245, 222, 179, 0.7);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid rgb(245, 222, 179);
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
}

.body input::placeholder {
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: lighter;
  color: white;
}

.body button {
  font-size: 20px;
  font-family: "vkts";
  width: 7em;
  height: 4em;
  border: 2px solid wheat;
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
  background: transparent;
  text-shadow: 1px 2px black;
  transform-style: preserve-3d;
}
.body button:hover {
  box-shadow: inset 0px -85px wheat;
  color: white;
}

.body input:focus {
  box-shadow: 5px 5px 20px black;
  outline: none;
}
